/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Apply basic styles to the body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(48, 48, 48, 0.491), rgba(255, 255, 255, 0.508)),url('../image/office.jpg') !important; 
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

/* Style the header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Style the navigation menu */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column; /* Arrange links vertically */
    align-items: center; /* Center links horizontally */
}

nav li {
    margin: 5px 0;
}

/* Style the links */
nav a {
    text-decoration: none;
    color: #50c878;
    font-size: 16px;
    transition: color 0.3s;
}

/* Change link color on hover */
nav a:hover {
    color: #224c30;
}




.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    height: 86vh;
}
.intro {
    text-align: center;
    margin-bottom: 30px;
}
.features {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.feature {
    width: 30%;
    padding: 20px;
    background-color: #eaeaea;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.feature.text {
    color:#333;

}
.login-button {
    text-align: center;
    margin-top: 20px;
}
.login-button button {
    padding: 10px 20px;
    background-color: #50c878;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.login-button button:hover {
    background-color: #224c30;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}