/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply basic styles to the body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(48, 48, 48, 0.491), rgba(255, 255, 255, 0.508)),url('../image/office.jpg') !important; 
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

/* Style the header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column; /* Arrange links vertically */
    align-items: center; /* Center links horizontally */
}

nav li {
    margin: 5px 0;
}

/* Style the links */
nav a {
   /* text-decoration: none;*/
    color: #50c878;
    font-size: 16px;
    transition: color 0.3s;
}

/* Change link color on hover */
nav a:hover {
    color: #224c30;
}

/* Style the container */
.container {
    width: 300px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    background-color: #eaeaea;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Style the form labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style form input fields */
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Style the upload button */
button[type="submit"] {
    background-color: #50c878;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Change button color on hover */
button[type="submit"]:hover {
    background-color: #224c30;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
